<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categorias</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap-icons-1.11.3/font/bootstrap-icons.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body class="body-profile">
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-2 d-md-block sidebar">
            <div class="text-center">
                <a class="navbar-brand" href="#">
                    <i class="bi bi-house-door-fill nav-icon"></i>
                    <span class="nav-text">Piggy Wallet</span>
                </a>
            </div>
            <ul class="nav flex-column mt-4">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/finance/dashboard}">
                        <i class="bi bi-grid-1x2-fill nav-icon"></i>
                        <span class="nav-text">Informe</span>
                    </a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/finance/transactions}">
                        <i class="bi bi-piggy-bank-fill nav-icon"></i>
                        <span class="nav-text">Transacciones</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/finance/analysis}">
                        <i class="bi bi-cash-stack nav-icon"></i>
                        <span class="nav-text">Análisis</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="bi bi-bar-chart-line nav-icon"></i>
                        <span class="nav-text">Categorías</span>
                    </a>
                </li>
            </ul>
            <hr class="text-white">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="bi bi-person-fill nav-icon"></i>
                        <span class="nav-text">Perfil</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/finance/config}">
                    <i class="bi bi-gear-fill nav-icon"></i>
                        <span class="nav-text">Configuraciones</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">
                        <i class="bi bi-box-arrow-right nav-icon"></i>
                        <span class="nav-text">Salir</span>
                    </a>
                </li>
            </ul>
        </nav>

        <main class="col-md-10 col-lg-10 main-content">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap pt-3 pb-2 mb-3">
                <h2>Categorías</h2>
            </div>

            <div class="container mt-5">
                <!-- Navegación de las pestañas -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="ingresos-tab" data-bs-toggle="tab" data-bs-target="#ingresos" type="button" role="tab" aria-controls="ingresos" aria-selected="true">Ingresos</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="gastos-tab" data-bs-toggle="tab" data-bs-target="#gastos" type="button" role="tab" aria-controls="gastos" aria-selected="false">Gastos</button>
                    </li>
                </ul>

                <!-- Botón flotante para agregar categoría -->
                <div class="floating-btn" data-bs-toggle="modal" data-bs-target="#addCategoryModal">+</div>

                <!-- Modal para agregar nueva categoría -->
                <div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addCategoryModalLabel">Agregar Nueva Categoría</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="categoryForm">
                                    <div class="mb-3">
                                        <label for="categoryName" class="form-label">Nombre de la Categoría</label>
                                        <input type="text" class="form-control" id="categoryName" placeholder="Ej. Entretenimiento">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary" onclick="addCategory()">Agregar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Mostrar categorías -->
                <div class="container mt-4">
                    <ul id="categoriesList" class="list-group">
                        <!-- Aquí se cargarán las categorías -->
                        <li th:each="category : ${categories}" th:text="${category.name}" class="list-group-item"></li>
                    </ul>
                </div>
        </main>
    </div>
</div>
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/graphics.js"></script>
</body>
</html>