<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Piggy Wallet Dashboard Template">
    <meta name="viewport" content="width=device-width">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon-16x16.png}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:text="#{slidebar.link.panel}">Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body class="body-profile">
    <div class="container-fluid">
        <div class="row">

            <!-- Sidebar -->
            <nav class="col-md-2 d-md-block sidebar">
                <div class="text-center">
                    <a class="navbar-brand" href="#" aria-label="Home">
                        <i class="bi bi-house-door-fill nav-icon"></i>
                        <span class="nav-text">Piggy Wallet</span>
                    </a>
                </div>
                <ul class="nav flex-column mt-4">
                    <li class="nav-item" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                        <a class="nav-link" th:href="@{/admin/dashboard}" aria-label="Admin Dashboard">
                            <i class="bi bi-shield-lock-fill nav-icon"></i>
                            <span class="nav-text" th:text="#{slidebar.link.admin}">Panel Admin</span>
                        </a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                        <a class="nav-link" th:href="@{/admin/users}" aria-label="Admin Dashboard">
                            <i class="bi bi-people-fill nav-icon"></i>
                            <span class="nav-text" th:text="#{slidebar.link.users}">Usuarios</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/finance/dashboard}" aria-label="View Finance Dashboard" aria-current="page">
                            <i class="bi bi-grid-1x2-fill nav-icon"></i>
                            <span class="nav-text" th:text="#{slidebar.link.panel}"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/finance/transactions}" aria-label="View Transactions">
                            <i class="bi bi-piggy-bank-fill nav-icon"></i>
                            <span class="nav-text" th:text="#{slidebar.link.transactions}"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/finance/analysis}" aria-label="View Analysis">
                            <i class="bi bi-cash-stack nav-icon"></i>
                            <span class="nav-text" th:text="#{slidebar.link.analisys}"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/finance/categories}" aria-label="View Categories">
                            <i class="bi bi-tags-fill nav-icon"></i>
                            <span class="nav-text" th:text="#{slidebar.link.categories}"></span>
                        </a>
                    </li>
                </ul>
                <hr class="text-white">
                <ul class="nav flex-column">
                    <!-- Dropdown de idiomas para el sidebar -->
                    <li class="nav-item dropdown sidebar-dropdown">
                        <a class="nav-link d-flex align-items-center" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" aria-label="Seleccionar idioma" aria-haspopup="true">
                            <i class="bi bi-translate nav-icon" aria-hidden="true"></i>
                            <span class="nav-text" th:text="#{navbar.language}">Idioma</span>
                            <i class="bi bi-chevron-right ms-auto" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark submenu" aria-labelledby="languageDropdown" role="menu">
                            <li role="none">
                                <a class="dropdown-item" th:href="@{''(lang='es')}" role="menuitem" lang="es" aria-label="Cambiar idioma a Español">
                                    <img th:src="@{/flags/es.svg}" alt="" width="20" height="20" class="me-2" aria-hidden="true">
                                    <span>Español</span>
                                </a>
                            </li>
                            <li role="none">
                                <a class="dropdown-item" th:href="@{''(lang='en')}" role="menuitem" lang="en" aria-label="Change language to English">
                                    <img th:src="@{/flags/en.svg}" alt="" width="20" height="20" class="me-2" aria-hidden="true">
                                    <span>English</span>
                                </a>
                            </li>
                            <li role="none">
                                <a class="dropdown-item" th:href="@{''(lang='fr')}" role="menuitem" lang="fr" aria-label="Changer la langue en Français">
                                    <img th:src="@{/flags/fr.svg}" alt="" width="20" height="20" class="me-2" aria-hidden="true">
                                    <span>Français</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/finance/profile}"  aria-label="View Profile">
                            <i class="bi bi-person-fill nav-icon"></i>
                            <span class="nav-text" th:text="#{slidebar.link.profile}"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/finance/config}" aria-label="View Settings">
                            <i class="bi bi-gear-fill nav-icon"></i>
                            <span class="nav-text" th:text="#{slidebar.link.configurations}"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}" aria-label="Log Out">
                            <i class="bi bi-box-arrow-right nav-icon"></i>
                            <span class="nav-text" th:text="#{slidebar.link.logout}">Salir</span>
                        </a>
                    </li>
                </ul>
            </nav>

        <main class="col-md-10 col-lg-10 main-content">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap pt-3 pb-2 mb-3">
                <h2 th:text="#{balance.title}"></h2>
            </div>

            <!-- Row 1: Balance Summary and Spending -->
            <div class="row mb-4">
                <div class="col-md-6">
                    <div class="card balance-summary">
                        <div class="card-header">
                            <h3 class="card-title" th:text="#{balance.title.behavior}" ></h3>
                        </div>
                        <div class="card-body">
                            <canvas id="balanceChart"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card spending-chart">
                        <div class="card-header">
                            <h3 class="card-title" th:text="#{balance.title.spending.categories}"></h3>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <canvas id="spendingDonut"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row 2: Recent Transactions and Upcoming Payments -->
            <div class="row">
                <!-- Transacciones Recientes -->
                <div class="col-lg-6 col-md-12 mb-3">
                    <div class="card">
                        <div class="card-header">
                            <h3 th:text="#{balance.title.transactions}"></h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead class="tables">
                                    <tr>
                                        <th th:text="#{balance.title.amount}">Cantidad</th>
                                        <th th:text="#{balance.title.description}" >Descripcion</th>
                                        <th th:text="#{balance.title.categories}" >Categoría</th>
                                        <th th:text="#{balance.title.date}">Fecha</th>
                                    </tr>
                                    </thead>
                                    <tbody id="transactionsTableBody">
                                    <tr th:each="transaction : ${transactions}">
                                        <td th:text="${transaction.value}"></td>
                                        <td th:text="${transaction.description}"></td>
                                        <td th:text="${transaction.category.name}"></td>
                                        <td th:text="${transaction.date}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Upcoming payments -->
                <div class="col-lg-6 col-md-12 mb-3">
                    <div class="card h-100">
                        <div class="card-header d-flex justify-content-between">
                            <h3 th:text="#{upcoming.title}"></h3>
                            <button type="button" class="btn btn-primary btn-xs" data-bs-toggle="modal" data-bs-target="#addPaymentModal" th:text="#{upcoming.add}">
                                Agregar
                            </button>
                        </div>
                        <div class="card-body">
                            <ul id="paymentList" class="list-group list-group-flush">
                                <li th:if="${#lists.isEmpty(upcomingPayments)}" class="list-group-item text-center" th:text="#{upcoming.not.found}">
                                </li>
                                <li th:each="payment : ${upcomingPayments}"
                                    class="list-group-item d-flex justify-content-between align-items-center overflow-hidden">
                                    <span class="text-truncate" th:text="${payment.name}">Nombre del pago</span>
                                    <span class="badge bg-danger text-nowrap"
                                          th:text="${'$' + #numbers.formatDecimal(payment.value, 1, 'COMMA', 2, 'POINT')}">
                            $0.00
                        </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal para agregar pagos -->
            <div class="modal fade" id="addPaymentModal" tabindex="-1" aria-labelledby="addPaymentModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="addPaymentModalLabel" th:text="#{payments.add}">Agregar próximo pago</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="addPaymentForm" onsubmit="addPayment(); return false;">
                                <div class="mb-3">
                                    <label for="paymentName" class="form-label" th:text="#{payments.name} ">Nombre del pago</label>
                                    <input type="text" class="form-control" id="paymentName" th:placeholder="#{payments.placeholder.name}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="paymentAmount" class="form-label" th:text="#{payments.amount}">Cantidad</label>
                                    <input type="number" class="form-control" id="paymentAmount" th:placeholder="#{payments.placeholder.amount}" step="0.01" required>
                                </div>
                                <button type="submit" class="btn btn-primary w-100" th:text="#{payments.add.pay}" >Agregar pago</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>


<script th:inline="javascript">
    // Obtener los datos del modelo de Thymeleaf
    const ingresosPorMesServer = /*[[${ingresosPorMes}]]*/ {};
    const gastosPorMesServer = /*[[${gastosPorMes}]]*/ {};
    const gastosPorCategoria = /*[[${gastosPorCategoria}]]*/ {};

</script>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/graphics.js"></script>

</body>
</html>