<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/bootstrap-icons-1.11.3/font/bootstrap-icons.css}" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="text-light">

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img class="simple-piggy-bank-money-logo" src="/img/LogoF.png" alt="Logo" >
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/aboutUs}">Sobre Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/contactUs}">Contactenos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-light text-dark" th:href="@{/login}">Iniciar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Hero Section -->
<section class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h1>Piggy Wallet</h1>
      <p>
        Gestiona tu dinero de manera fácil y eficiente con Piggy Wallet, tu asistente personal de finanzas.
        Nuestra plataforma te permite controlar tus ingresos, gastos y presupuestos desde una interfaz simple y segura.
        Automatiza tus ahorros, organiza tus metas financieras y toma decisiones inteligentes sobre tus finanzas, todo en un solo lugar.
        ¡Empieza hoy y transforma tu relación con el dinero!
      </p>
      <button type="button" class="btn btn-warning" onclick="window.location.href='/login'">Empieza Ahora</button>
    </div>
    <div class="col-md-6">
      <img src="/img/Graficas%20-%20copia.png" class="img-graphics" alt="Dashboard">
    </div>
  </div>
</section>

<!-- Dashboard Image -->
<section class="dashboard-section text-center py-5">
  <div class="container">
    <img src="/img/Dashboard.png" class="img-dashboard" alt="Dashboard">
  </div>
</section>

<!-- Features Section -->
<section class="features-section text-center py-5 ">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="bi bi-piggy-bank-fill icon1"></i>
        <h3>Gestión de ingresos y gastos</h3>
        <p class="txt-cards">Registra y clasifica tus ingresos y gastos de manera personalizada. Con Piggy Wallet, tienes el control total sobre tus finanzas, pudiendo categorizar tus movimientos de acuerdo a tus necesidades específicas.</p>
      </div>
      <div class="col-md-4">
        <i class="bi bi-coin icon2"></i>
        <h3>Presupuestos automáticos</h3>
        <p class="txt-cards">Establece presupuestos inteligentes que se ajustan automáticamente a tus hábitos de gasto. Piggy Wallet te ayuda a seguir tus metas financieras mes a mes sin complicaciones.</p>
      </div>
      <div class="col-md-4">
        <i class="bi bi-file-richtext-fill icon3" ></i>
        <h3>Informes financieros detallados</h3>
        <p class="txt-cards">Obtén informes detallados y visualiza gráficos interactivos que te permitirán entender mejor tus finanzas. Monitorea tu progreso y toma decisiones informadas con Piggy Wallet.</p>
      </div>
    </div>
  </div>
</section>

<!-- Testimonial Section -->
<section class="testimonial-section py-5 text-center">
  <div class="container col-md-6">
    <blockquote class="blockquote">
      <img src="/img/Cita.png" alt="img-cita">
      <p class="mb-0">"Piggy Wallet me ha ayudado a simplificar mi vida financiera. Puedo ver todos mis ingresos y gastos en un solo lugar, lo que me permite ahorrar y planificar mejor. ¡Es el asistente financiero que siempre necesitaba!"</p>
      <footer class="blockquote-footer">Laura Sánchez</footer>
    </blockquote>
  </div>
</section>

<!-- Contact Section -->
<section class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h2>Necesitas ayuda? Contáctanos</h2>
      <p>
        Contáctenos, disponible las 24 horas, los 7 días de la semana. ¡Siempre estaremos encantados de ayudarle!
      </p>
      <button type="button" class="btn btn-warning" onclick="window.location.href='/contactUs'" >Contáctenos</button>
    </div>
    <div class="col-md-6">
      <img class="img-contact" src="/img/Contact.png" alt="contact">
    </div>
  </div>
</section>

<!-- Footer -->
<footer class=" text-center py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-start">
        <img src="/img/LogoF.png" alt="Contact Image">
        <div class="social-icons mt-3">
          <a href="#"><i class="bi bi-google"></i></a>
          <a href="#"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <p>Contact Us</p>
        <p>(+57) 320 1231232</p>
        <p>pigsrWallet@gmail.com</p>
        <p>soporte@piggywallet.com</p>
      </div>
      <div class="col-md-4">
        <p>© 2024 Piggy Wallet. Todos los derechos reservados.</p>
        <p>Organiza y controla tus finanzas personales con facilidad y seguridad.</p>
      </div>
    </div>
  </div>
</footer>

<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>